body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--no-accent-text-color);
  color: var(--second-text-color);
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.webstudio, .studio-footer, .web-footer {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-size: 26px;
  line-height: normal;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

button.order {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

h3.advantages, h3.join, h3.subscribe {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

p.advantages {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.presentation__name {
  font-weight: 700;
  line-height: 1.19;
  text-transform: uppercase;
}

h3.personal {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

p.personal {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.78px;
}

.address, a.contact-third {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

button.subscribe {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

button.portfolio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

h2.portfolio-filter {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

p.portfolio-filter {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.portfolio-overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.form-textarea {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

::-webkit-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
}

::-moz-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
}

:-ms-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
}

::-ms-input-placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
}

::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01;
}

.contract-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

a.contract-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
}

.modal-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: Roboto;
  border: none;
}

header {
  border-bottom: 1px solid #ECECEC;
}

header div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web, .web-footer {
  color: #2196f3;
}

.studio {
  color: #000000;
}

.studio-footer {
  color: #ffffff;
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  padding: 32px 0;
}

a.nav__link {
  position: relative;
  color: #212121;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.nav__link:hover, a.nav__link:focus {
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__link.current {
  color: #2196f3;
}

a.nav__link.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -34px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.nav__link.current:hover::after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

a.nav__link.current:focus::after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

ul.nav, ul.contact {
  font-weight: 500;
  letter-spacing: 0.28px;
}

ul.nav :not(:last-child),
ul.contact :not(:last-child) {
  margin-right: 50px;
}

ul.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

a.contact__link {
  color: #757575;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
a.contact__link:hover {
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
a.contact__link:hover .contact__svg.mail {
  fill: #2196f3;
}
a.contact__link:hover .contact__svg.phone {
  fill: #2196f3;
}
a.contact__link:focus {
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
a.contact__link:focus .contact__svg.mail {
  fill: #2196f3;
}
a.contact__link:focus .contact__svg.phone {
  fill: #2196f3;
}

svg.contact__svg.mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

svg.contact__svg.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.hero.section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpeg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

h1 {
  color: #ffffff;
}

h1.hero {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

button.order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button.order:hover {
  background-color: #188ce8;
}
button.order:focus {
  background-color: #188ce8;
}

.section.advantages {
  padding-bottom: 0;
}

ul.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li.advantages {
  width: 270px;
}

ul.advantages :not(:last-child) {
  margin-right: 30px;
}

h3.advantages, h3.join, h3.subscribe {
  color: #212121;
}

p.advantages {
  color: #757575;
  margin-top: 10px;
}

li.advantages {
  display: block;
}

h2.activity, h2.personal, h2.customers {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: #212121;
}

ul.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.activity :not(:last-child) {
  margin-right: 30px;
}

.presentation__thumb {
  position: relative;
}

.presentation__overlay {
  position: absolute;
  content: "";
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.presentation__name {
  color: #ffffff;
}

section.personal {
  background-color: #f5f4fa;
}

ul.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3.personal {
  text-align: center;
  color: #212121;
  padding-top: 30px;
}

p.personal {
  padding-top: 10px;
  padding-bottom: 16px;
  color: #757575;
}

div.personal-first,
div.personal-second,
div.personal-third,
div.personal-fourth {
  background-color: #ffffff;
  text-align: center;
  width: 270px;
  margin-right: 30px;
  padding-bottom: 30px;
}

div.personal-fourth {
  margin-right: 0px;
}

ul.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

a.net {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0px;
  border-width: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.net:not(:last-child) {
  margin-right: 10px;
}

svg.networks {
  fill: #AFB1B8;
}

.net:not(:last-child) {
  margin-right: 10px;
}

.net:hover {
  background-color: #2196f3;
  border-radius: 50%;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.net:hover .networks {
  fill: #ffffff;
}

ul.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.customers :not(:last-child) {
  margin-right: 30px;
}

a.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
a.customers__link:hover {
  border: 0px solid #2196f3;
  border-radius: 4px;
}
a.customers__link:hover .customers__icon {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
a.customers__link:focus {
  border: 0px solid #2196f3;
  border-radius: 4px;
}

svg.customers__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
  padding: 60px 0 60px 0px;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

div.address {
  margin-right: 70px;
}

.address, a.contact-third {
  color: #ffffff;
}

address {
  padding-top: 20px;
  font-style: normal;
}

p.address {
  padding-bottom: 9px;
}

ul.address :not(:last-child) {
  padding-bottom: 9px;
}

a.contact-third {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.contact-third:hover {
  color: #2196f3;
}
a.contact-third:focus {
  color: #2196f3;
}

h3.join {
  padding-top: 12px;
  color: #ffffff;
}

ul.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

ul.join :not(:last-child) {
  margin-right: 10px;
}

a.join {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg.join {
  fill: #ffffff;
}

a.join:hover {
  background-color: #2196f3;
  border-radius: 50%;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a.join:hover svg.join {
  fill: #ffffff;
}

div.subscribe {
  margin-left: 93px;
}

div.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

h3.subscribe {
  padding-top: 12px;
  color: #ffffff;
}

input.subscribe {
  padding: 0 0 0 16px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

button.subscribe {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.plane {
  position: absolute;
  right: 28px;
}

ul.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

ul.portfolio__list :not(:last-child) {
  margin-right: 8px;
}

button.portfolio {
  padding: 6px 22px;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.portfolio:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
button.portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

ul.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

.portfolio > .portfolio-item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

h2.portfolio-filter {
  color: #212121;
}

p.portfolio-filter {
  color: #757575;
}

div.portfolio-content {
  padding: 20px 24px;
}

div.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.form-modal {
  margin-left: 41px;
  margin-right: 39px;
}

div.form-field {
  margin-top: 10px;
  width: 448px;
}

.form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
}

button.icon-close {
  position: absolute;
  fill: #212121;
  padding: 5px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  background-color: #ffffff;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
}

.form-input, .form-textarea {
  margin-top: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.form-textarea {
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
}

svg.form-icon {
  position: absolute;
  top: 32px;
  left: 14px;
}

button.icon-close:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-title {
  color: #212121;
  text-align: center;
  padding-top: 40px;
}

::-webkit-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

::-moz-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  margin-left: 16px;
  margin-top: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-visible .form-input {
  border-color: #2196f3;
}

.form-field:focus-within .form-input {
  border-color: #2196f3;
}
.form-field:focus-within .form-icon {
  fill: #2196f3;
}
.form-field:focus-within .form-textarea {
  border-color: #2196f3;
}

.contract {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contract-text {
  color: #757575;
  margin-left: 9px;
}

.checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
}

.contract-checkbox:checked + .checkbox-icon {
  background-image: url(../images/ok-square.svg);
  border: none;
  background-origin: border-box;
  background-size: contain;
}

a.contract-link {
  color: #2196f3;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  margin: 30px auto 40px auto;
  padding: 10px 55px 10px 56px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #188ce8;
}
.modal-button:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */