/*основной цвет фона #FFFFFF
дополнительный цвет фона
цвет фона героя  #2F303A
основной цвет текста #757575
дополнительный цвет текста*(заголовки) #212121
цвет текста лого #000000
цвет акцента #2196F3
цвет контактов в футере #FFFFFF, 60%

:root {
    --logo-color: #000000;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196f3;
    --no-accent-text-color: #ffffff;
    --second-bcg-text-color: #2f303a;
    --second-bcg-color: #f5f4fa;
    --footer-contact:rgba(255, 255, 255, 0.60);
}

/*  #212121 - цвет основного текста*/
/*  #757575 - вторичный цвет*/
/*  #2196F3 - цвет синий текста*/
/*  #FFFFFF - цвет белый текста*/
/*  #2F303A - цвет фона вторичный*/
/* rgba(255, 255, 255, 0.60) - цвет контактов в футере*/



/**/
/*Общие*/
:root {
    --logo-color: #000000;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196f3;
    --no-accent-text-color: #ffffff;
    --second-bcg-text-color: #2f303a;
    --second-bcg-color: #f5f4fa;
    --footer-contact: rgba(255, 255, 255, 0.60);
    --border-header-color:#ECECEC;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --button-change-color:#188ce8;
   --portfolio-item-gap: 30px;
}
body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    background-color: var(--no-accent-text-color);
    color: var(--second-text-color);
}

h1,h2,h3,h4,p,ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Лого*/
.webstudio, .studio-footer, .web-footer  {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.web, .web-footer {
    color: var(--accent-text-color);
}
.studio {
    color: var(--logo-color);
}
/* Хедер-Студия-Портфолио-Контакты*/
header {
    border-bottom: 1px solid var(--border-header-color);
  }
header div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.contact, ul.contact-second {
    
font-weight: 500;
letter-spacing: 0.28px;
}


ul.contact :not(:last-child), 
ul.contact-second :not(:last-child) {
    margin-right: 50px;
}
ul.contact {
    display: flex;
    margin-left: 93px;
    padding: 32px 0;
}
ul.contact-second {
    display: flex;
    margin-left: auto;
}

a.contact-first {
    position:relative;
color: var(--primary-text-color);
transform: scale(1);
transition: transform var(--transition);
}
a.contact-first:hover, a.contact-first:focus {
    color: var(--accent-text-color);
    transform: scale(1.1);
}
.contact-first.current {
    color: var(--accent-text-color);
}
/* Хедер почта-телефон*/
a.contact-second {
    color: var(--second-text-color);
    transform: scale(1);
    transition: transform var(--transition);
}
a.contact-second:hover, 
a.contact-second:focus {
    color: var(--accent-text-color);
    transform: scale(1.1);
}
a.contact-second {
    display: flex;
    align-items: center;
}
svg.contacts.mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
}
.contact-second.mail:hover .contacts.mail,
.contact-second.mail:focus .contacts.mail{
  fill: var(--accent-text-color);
  }
  .contact-second.phone:hover .contacts.phone,
.contact-second.phone:focus .contacts.phone{
  fill: var(--accent-text-color);
  }
svg.contacts.phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
}
a.contact-first.current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -34px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
    transform: scale(1);
    transition: transform var(--transition);
   
}
a.contact-first.current:hover::after{
    transform:scale(1.2);
  }
  a.contact-first.current:focus::after{
    transform:scale(1.2);
  }
  

/* Секция Герой*/
.hero.section {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width:1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--second-bcg-text-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    color: var(--no-accent-text-color);
}
h1.hero {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
button.order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    color: var(--no-accent-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
/* Модальное окно*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height:581px;
    min-width:528px;
    background-color: var(--no-accent-text-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);


}
.form-modal {
    margin-left: 41px;
    margin-right: 39px;
}
div.form-field {
    margin-top:10px;
    width: 448px;
    
}
.form-label {
    position:relative;
    display: flex;
    flex-direction: column;
    width: 448px;
    /* height: 40px; */
}
button.icon-close {
   position: absolute;
    fill: var(--primary-text-color);
    padding: 5px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    background-color: var(--no-accent-text-color);
    /* display: flex;
    justify-content: center; */
    transform: scale(1);
    transition: transform var(--transition);
    width: 30px;
    height:30px; 
}
.form-input, .form-textarea {
    margin-top: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
}
.form-textarea {
    height: 120px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
svg.form-icon {
    position: absolute;
    top: 32px;
    left: 14px;
} 
button.icon-close:hover {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
  }
  
.modal-title {
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
padding-top: 40px;
}
 ::placeholder{
  
    margin-left:16px;
    margin-top:12px;
    color:rgba(117, 117, 117, 0,5);
    font-family: inherit;
    font-weight:400;
    font-size:14px;
    line-height:1.17;
    letter-spacing: 0.01;
  }
  
  .form-field:focus-within .form-input{
    border-color:  var(--accent-text-color);
  }
  .form-field:focus-visible .form-input{
    border-color:  var(--accent-text-color);
  }
  .form-field:focus-within .form-icon{
    fill:var(--accent-text-color);
  }
  .form-field:focus-within .form-textarea{
    border-color:  var(--accent-text-color);
  }
  .contract{
    margin-top:20px;
    display: inline-flex;
    align-items: center;
  }
  .label{
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
  }

  .contract-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
  }
  .contract-text{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 9px;
  }
  .checkbox-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    
  }
    .contract-checkbox:checked + .checkbox-icon{
    
    background-image: url(../images/ok-square.svg);
    border:none;
    background-origin: border-box;
    background-size: contain;
    }
a.contract-link{
    font-family: inherit;
    font-weight: 400;
    font-size:14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color:var(--accent-text-color);
    }
    .modal-button{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: var(--accent-text-color);
    color: var(--no-accent-text-color);;
    
    margin: 30px auto 40px auto;
    padding: 10px 55px 10px 56px;
    font-weight: 700;
    font-size: 16px;
    line-height:1.88;
    letter-spacing:0.06em;
    font-family: Roboto;
    border: none;
    border-radius: 4px;
    box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition);
  
  }
.modal-button:hover,
  .modal-button:focus{
    background-color: var(--button-change-color);}

  

/* Секция Преимущества*/
.section.advantages {
    padding-bottom: 0;
}
ul.advantages{
    display: flex;
}
li.advantages {
    width: 270px;
}
/*
Advantages images using ::before

li.advantages::before {
    content: "";
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
li.advantages:nth-child(1)::before {
    background-image: url(../images/advantage1.png);
}
li.advantages:nth-child(2)::before {
    background-image: url(../images/advantage2.png);
}
li.advantages:nth-child(3)::before {
    background-image: url(../images/advantage3.png);
}
li.advantages:nth-child(4)::before {
    background-image: url(../images/advantage4.png);
}
*/

ul.advantages :not(:last-child){
            margin-right: 30px;
}
h3.advantages, h3.join,h3.subscribe {
   font-weight: 700;
   letter-spacing: 0.28px;
   text-transform: uppercase;
   color: var(--primary-text-color);
}
p.advantages {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--second-text-color);
    margin-top: 10px;
}
li.advantages {
    display: block;
}

/* Секция Чем занимаемся*/
h2.activity, h2.personal, h2.customers {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    color: var(--primary-text-color);
}
ul.activity {
    display: flex;
}
ul.activity :not(:last-child) {
    margin-right: 30px;
}
.presentation-thumb {
position: relative;
}
.presentation-overlay {
    position: absolute;
    content: '';
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
}
.presentation-name {
    color: #FFF;
font-weight: 700;
line-height: 1.19;
text-transform: uppercase;
}

/* Секция Команда*/
section.personal {
    background-color:var(--second-bcg-color);
}
ul.personal {
    display: flex;
}
/* li.personal:not(:last-child){
    margin-right: 30px;
    ul.personal:not(:last-child) {
    margin-right: 30px;
}
}*/



h3.personal {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: var(--primary-text-color);
    padding-top: 30px;
}
p.personal {
    padding-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--second-text-color);
}
div.personal-first, 
div.personal-second,
div.personal-third,
div.personal-fourth {
    background-color: var(--no-accent-text-color);
    text-align: center;
    width: 270px;
    margin-right: 30px;
    padding-bottom: 30px;
}
div.personal-fourth {
    margin-right: 0px;
}
ul.icons{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--no-accent-text-color);
  }
  a.net {
    width: 44px;
    height: 44px;
    background-color:#ffffff;
    border-color: #ffffff;
    padding:0px;
    border-width: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    transform: scale(1);
    transition: transform var(--transition);
  }
  a.net:not(:last-child) { 
     margin-right: 10px;}

  svg.networks{
    
    fill:#AFB1B8;
  }
  .net:not(:last-child){
    margin-right: 10px;
  }
  .net:hover{
    background-color:#2196f3;
    border-radius: 50%;
    border: none;
    transform: scale(1.1);
  }
  .net:hover .networks{
    fill:#ffffff;
  }
  /* Клиенты*/

  ul.customers {
    display: flex;
  }
  ul.customers :not( :last-child) {
    margin-right: 30px;
  }
  a.customers-link {
    display: flex;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
  }
  svg.customers-icon {
    fill:#AFB1B8;
    transition:  fill var(--transition);
  }
  .customers-link:hover,
  .customers-link:focus{ 
  border:0px solid var(--accent-text-color);
  border-radius: 4px;
  }
  .customers-link :hover.customers-icon {
    fill:#2196f3;
    border: 1px solid #2196f3;
    border-radius: 4px;
    transform: scale(1.1);
    
  }
/* Футер-Лого-Адрес-Контакты*/
footer {
    background-color: var(--second-bcg-text-color);
    padding: 60px 0 60px 0px;
}
/* .web-footer {
    
}
*/
.container.footer {
    display: flex;
    align-items: baseline;
}
div.address {
    margin-right: 70px;
}

.studio-footer {
    color: var(--no-accent-text-color);
}
.address, a.contact-third {
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--no-accent-text-color);
}
address {
    padding-top: 20px;
    font-style: normal;
}
p.address {
    padding-bottom: 9px;
}
ul.address :not(:last-child) {
    padding-bottom: 9px;
}
a.contact-third {
    color: var(--footer-contact);
    transition: color var(--transition);
    
}
a.contact-third:hover,
a.contact-third:focus {
    color: var(--accent-text-color);
    
}
h3.join {
    padding-top: 12px;
    color: #FFF;
}
ul.join {
    display: flex;
    margin-top: 20px;
}
ul.join :not(:last-child){
    margin-right: 10px;
}
a.join {
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.10);
    border-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform var(--transition);
  }
  svg.join {
    fill:#FFF;
  }
  a.join:hover{
    background-color:#2196f3;
    border-radius: 50%;
    border: none;
    transform: scale(1.1);
  }
  a.join:hover svg.join{
    fill:#ffffff;
  }
  div.subscribe{
    margin-left: 93px;
  }
  div.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  h3.subscribe {
    padding-top: 12px;
    color: #FFF;
  }
  input.subscribe {
    padding: 0 0 0 16px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  button.subscribe {
    position: relative;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    padding: 10px 62px 10px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    color: var(--no-accent-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  }
  .plane {
    position: absolute;
    right:28px;
  }

/* Секция кнопок портфолио*/
ul.button-list{
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
ul.button-list :not(:last-child){
    margin-right: 8px;

}
button.portfolio{
    padding: 6px 22px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    color: var(--primary-text-color);
    background-color: var(--second-bcg-color);
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    transform: scale(1);
    transition: transform var(--transition);
}

button.portfolio:hover,
button.portfolio:focus {
    background-color: var(--accent-text-color);
    color: var(--no-accent-text-color);
    transform: scale(0.9);
}

/* Секция примеров работ в портфолио*/

ul.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 94px;
}
.portfolio > .portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #EEE;
}
h2.portfolio-filter {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 1.08px;
    color: var(--primary-text-color);
}
p.portfolio-filter {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
    color: var(--second-text-color);
}
div.portfolio-content {
    padding: 20px 24px;
}

div.portfolio-thumb {
    position: relative;
    overflow:hidden;
}    
      .portfolio-overlay{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top:100%;
        left: 0;      
        color:#ffffff;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        transform: translateY(0%);   
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }
      .portfolio-link:hover .portfolio-overlay{
        transform: translateY(-100%);
        
      }
      .portfolio-item:hover,
      .portfolio-item:focus
        {
        box-shadow: 0px 1px 1px rgba(0,0,0,0.12),
                    0px 4px 4px rgba(0,0,0,0.06),
                    1px 4px 6px rgba(0,0,0,0.16);
        }
