@import "./base/general-settings";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./components/header";
@import "./components/logo";
@import "./components/nav-first";
@import "./components/nav-second";
@import "./components/hero";
@import "./components/advantages";
@import "./components/activity";
@import "./components/personal";
@import "./components/customers";
@import "./components/footer";
@import "./components/portfolio-buttons";
@import "./components/portfolio-images";
@import "./components/modal";   