.webstudio, .studio-footer, .web-footer  {
      @extend %logo;
      @media screen and (min-width:768px){
        padding-top: 26px;
        padding-bottom: 26px;
      }
    @media screen and (min-width:1200px) {
        font-size: 26px;
        letter-spacing: 0.78px; 
}
}
.web, .web-footer {
    color: $color-accent-text-color;
}
.studio {
    color:  $color-logo;
}
.studio-footer {
    color: $color-no-accent-text-color;
}