ul.portfolio__list{
    @media screen and (max-width:767px){
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 40px;
        
    }
    @media screen and (min-width:768px){
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    @media screen and (min-width:1200px){
     display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;   
    }
    
}
// .portfolio__item:nth-child(4)  {
//     @media screen and (max-width:767px){
//         margin-top: 15px;
//     }
// }
// .portfolio__item:nth-child(5)  {
//     @media screen and (max-width:767px){
        
//     }
// }
.portfolio__item:not(:last-child){
    @media screen and (max-width:767px) {
        margin-bottom: 15px;
    }
    margin-right: 8px;
}
button.portfolio{
    padding: 6px 22px;
    text-align: center;
    @extend %button__portfolio;
    color: $color-primary-text-color;
    background-color: $color-second-bcg-color;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    transform: scale(1);
    transition: transform $transition;
}

button.portfolio {
    &:hover {
        background-color: $color-accent-text-color;
        color: $color-no-accent-text-color;
        transform: scale(0.9);
    }
    &:focus {
        background-color: $color-accent-text-color;
        color: $color-no-accent-text-color;
        transform: scale(0.9);
    }
}
