ul.portfolio__list{
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
ul.portfolio__list :not(:last-child){
    margin-right: 8px;
}
button.portfolio{
    padding: 6px 22px;
    text-align: center;
    @extend %button__portfolio;
    color: $color-primary-text-color;
    background-color: $color-second-bcg-color;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    transform: scale(1);
    transition: transform $transition;
}

button.portfolio {
    &:hover {
        background-color: $color-accent-text-color;
        color: $color-no-accent-text-color;
        transform: scale(0.9);
    }
    &:focus {
        background-color: $color-accent-text-color;
        color: $color-no-accent-text-color;
        transform: scale(0.9);
    }
}
