  $color-logo: #000000;
  $color-primary-text-color: #212121;
  $color-second-text-color: #757575;
  $color-accent-text-color: #2196f3;
  $color-no-accent-text-color: #ffffff;
  $color-second-bcg-text-color: #2f303a;
  $color-second-bcg-color: #f5f4fa;
  $color-border-header-color:#ECECEC;
  $color-button-change-color:#188ce8;
  $color-fill:#AFB1B8;
  $color-gradient:rgba(47, 48, 58, 0.4);
  $color-overlay-activity:rgba(47, 48, 58, 0.8);
  $color-contact-footer:rgba(255, 255, 255, 0.6);
  $color-fill-bcg-color:rgba(255, 255, 255, 0.1);
  $color-fill-border-color:rgba(255, 255, 255, 0);
  $color-subscribe-bcg-color:#2F303A;
  $color-backdrop-bcg:rgba(0, 0, 0, 0.2);
  $color-backdrop-border:rgba(0, 0, 0, 0.1);
  $color-shadow-portfolio: rgba(0, 0, 0, 0.25); 
  $color-shadow: rgba(0, 0, 0, 0.15); 
  $color-subscribe-border:rgba(255, 255, 255, 0.3);
  $color-contract-text-color:rgba(117, 117, 117, 1);
  $color-form-input:rgba(33, 33, 33, 0.2);
  $color-textarea:rgba(117, 117, 117, 0.5);
  $color-overlay-bcg:rgba(33, 150, 243, 0.00);
  $color-overlay-portfolio:rgba(33, 150, 243, 0.9);
  $color-portfolio-border:#eeeeee;
  $card-portfolio-item-gap: 30px;
  $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $fonts-main:Roboto;
  $fonts-logo:Raleway;
  $letter-spacing-main:0.78px;
  $letter-spacing-caption:0.06em;
  $letter-spacing-portfolio:0.03em;
  $letter-spacing-contact:0.02em;
  $letter-spacing-modal-form:0.01em;
  $color-ThreeStepsShadow:  0px 1px 1px rgba(0,0,0,0.12),
                            0px 4px 4px rgba(0,0,0,0.06),
                            1px 4px 6px rgba(0,0,0,0.16);
  $color-ModalWindowShadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
                            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                            0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  